* {
  margin: 0;
  padding: 0;
}

.app {
  /* overflow: hidden !important; */
  width: 100% !important;
  height: 100vh !important;
}

/* :root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
} */


/* main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 6vw;
}

.main-heading {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.paragraph {
  /* width: 50%; */
  width: calc(100vw - 50vw);
  font-size: 20px;
  line-height: 35px;
  font-weight: 100;
  color: #9d9595;
}


.paragraph,
.main-heading {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


@media only screen and (max-width: 1000px) {

  .paragraph {
    width: 50%;
    height: 40vh;
    overflow: hidden;
    font-size: 16px;
    line-height: 25px;
  }

}

@media only screen and (max-width: 750px) {


  .paragraph {
    width: 100%;

  }

}


.btn-clean {
  padding: 20px 0px;
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  background: #4582a2;
  margin-top: 80px;
  cursor: pointer;
}

@media only screen and (max-width: 479px) {


  .container{
    width: 90vw;
  }
  .main-heading,
  .paragraph {
    text-align: center;
  }

  .paragraph {
    text-align: center;
  }
  .btn-clean {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    }
}

.btn-clean:hover {
  background: #4d91b6
}